@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?ybh877");
	src: url("../fonts/icomoon.eot?ybh877#iefix") format("embedded-opentype"),
		url("../fonts/icomoon.ttf?ybh877") format("truetype"), url("../fonts/icomoon.woff?ybh877") format("woff"),
		url("../fonts/icomoon.svg?ybh877#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-home:before {
	content: "\f015";
}
.icon-mail-forward:before {
	content: "\f064";
}
.icon-share:before {
	content: "\f064";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-wechat:before {
	content: "\f1d7";
}
.icon-weixin:before {
	content: "\f1d7";
}
.icon-google-plus-circle:before {
	content: "\f2b3";
}
.icon-google-plus-official:before {
	content: "\f2b3";
}
.icon-handshake-o:before {
	content: "\f2b5";
}
