@import "global";
@import "fonts";

.header__inner {
	display: flex;
	justify-content: space-between;
	height: 110px;
	align-items: center;
}

.header__list {
	li {
		display: inline-block;
	}
	a {
		color: #111111;
		font-size: 14px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
		padding-bottom: 10px;
		transition: all 0.1s;
		&:hover {
			border-bottom: 5px solid #e8bf5d;
		}
	}
	li + li {
		margin-left: 45px;
	}
}

//section top =================================================================================

.top {
	min-height: 840px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.top__inner {
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 596px;
}

.top__text {
	border-left: 2px solid #e8bf5d;
	padding-left: 16px;
}

.top__text-title {
	font-size: 65px;
	font-family: "Playfair Display", serif;
	margin-bottom: 15px;
}

.top__text-subtitle {
	font-size: 31px;
	letter-spacing: 1.24px;
	line-height: 36px;
}

.top__link {
	a {
		color: #111111;
		font-family: "Playfair Display", serif;
		font-size: 16px;
		line-height: 31px;
		letter-spacing: 0.64px;
		padding: 14px 46px;
		border-radius: 25px;
		background-color: #e8bf5d;
	}
}

//about =======================================================================
.about {
	padding: 95px 0;

	&__box {
		&::before {
			content: "01";
			position: absolute;
			top: -98px;
			left: -4px;
			font-size: 195px;
			font-weight: 400;
			font-family: "Open Sans", sans-serif;
			line-height: 300px;
			letter-spacing: 15px;
			z-index: 0;
			opacity: 0.1;
		}
	}

	&__inner {
		display: flex;
	}

	.about__inner-content.history {
		max-width: 560px;
	}

	&__inner-content {
		max-width: 490px;
		& + & {
			margin-left: 40px;
		}
		span {
			font-size: 21px;
			font-weight: 700;
			line-height: 31px;
			letter-spacing: 0.84px;
			margin-right: 45px;
			width: 70px;
		}
	}
	&__inner-box {
		max-width: 545px;
		display: flex;
		margin-bottom: 40px;
	}

	&__inner-title {
		font-family: "Playfair Display", serif;
		font-size: 21px;
		line-height: 31px;
		letter-spacing: 0.84px;
		margin-bottom: 35px;
	}

	&__inner-history {
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0.64px;
		width: 430px;
	}

	&__inner-text {
		color: #666666;
		line-height: 35px;
		letter-spacing: 0.56px;
	}
}

// section practis ========================================================

.practis {
	background-color: #111;
	color: #fff;
	a {
		color: #fff;
	}

	&__box-title {
		color: #fff;
	}

	&__box-subtitle {
		color: #b9b9b9;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__inner-box {
		max-width: 460px;
		padding-left: 90px;
		padding-right: 10px;
		margin-bottom: 70px;
		position: relative;
		transition: all 0.3s;
		&::before {
			content: "";
			font-family: "icomoon";
			position: absolute;
			top: 6px;
			left: 0;
			color: #e8bf5d;
			font-size: 45px;
			line-height: 31px;
		}
		&:hover {
			box-shadow: 5px 5px 5px #fff;
		}
	}

	&__inner-title {
		font-family: "Playfair Display", serif;
		font-size: 21px;
		line-height: 31px;
		letter-spacing: 0.84px;
		margin-bottom: 25px;
	}

	&__inner-text {
		line-height: 25px;
	}
}

.client {
	&::before {
		content: "\f2b5";
	}
}
.cyber {
	&::before {
		content: "\f108";
		top: 14px;
	}
}
.labour {
	&::before {
		content: "\f0ad";
		top: 10px;
	}
}
.estate {
	&::before {
		content: "\f015";
		top: 10px;
	}
}

// footer =============================================================

.footer {
	background-color: #111111;
	height: 80px;
	flex: 0 0 auto;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.footer__text {
	color: #b5b5b5;
	font-size: 16px;
	line-height: 45px;
	span {
		color: #ffffff;
		font-family: "Lato", sans-serif;
	}
}
.footer__social {
	a {
		color: #fbfbfb;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
	}
	a + a {
		margin-left: 20px;
	}
}
